<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>{% block title %}PlayPal{% endblock %}PlayPal</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/comment.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/left_bar.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/middle.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/right_bar.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/write.css' %}">
  <!-- Remix icon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
  <script src="https://kit.fontawesome.com/51116c1a73.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
  {% include 'components/nav.html' %}

  <div class="components">
    {% include 'components/left_bar.html' %}

    <div class="outlet">
      {% block outlet %}
      {% endblock %}
    </div>

    {% include 'components/right_bar.html' %}
  </div>
</body>

</html>