{% extends 'landing/landing_base.html' %}
{% block title %}Password Reset Done : {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center pass mt-5">
  <div class="card shadow-sm card-pass">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Password Reset Done</h3>
      <hr>
      <div class="alert alert-info">
        <p>A mail with the instruction for restting your password has been sent to the email you provided.</p>
        <p>If you don't receive the email, please try again making sure you provided the right email.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}