{% extends 'landing/landing_base.html' %}
{% block title %}Password Reset : {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center pass mt-5">
  <div class="card my-3 card-pass">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Reset Password</h3>
      <div class="alert alert-info">
        Enter email below and We'll send you a link to reset your password
      </div>
      <form method="POST">
        <div class="form-group">
          {% csrf_token %}
          {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}