.post {
  -moz-box-shadow: -8px 14px 19px -7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -8px 14px 19px -7px rgba(0, 0, 0, 0.35);
  box-shadow: -8px 14px 19px -7px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  margin-bottom: 20px;

  .container {
    padding: 20px;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .userInfo {
        display: flex;
        gap: 20px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          display: flex;
          flex-direction: column;

          a {
            .name {
              font-weight: 500;
              color: var(--textColor);
            }
          }

          .date {
            font-style: 12px;
            color: var(--textColorsoft);
          }
        }
      }
    }

    .content {
      margin: 30px 0px;

      img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin-top: 20px;
        border-radius: 5px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
