<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/playpal/playpal-static/static/styles/styles.css">
</head>

<body>
  <div class="login">
    <div class="card">
      <div class="left">
        <h1>Hello Gamer</h1>
        <p>Fogotten password? Don't worry We got you covered. Reset your password<a href="#"> here</a>
        </p>
        <span>Don't have account?</span>
        <button>Sign Up</button>
      </div>
      <div class="right">
        <h1>Login</h1>
        <form>
          <input type="text" placeholder="Username" />
          <input type="password" placeholder="password" />
          <button>Login</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>