{% load crispy_forms_tags %}
{% for post in post_list %}
<div class="post">
  <div class="container">
    <div class="user">
      <div class="userInfo">
        <a href="{% url 'profile' post.author.profile.pk %}">
          <img src="{{ post.author.profile.profile_image.url }}" alt="user profile avatar">
        </a>
        <div class="details">
          <a href="{% url 'profile' post.author.profile.pk %}">
            <span class="name">@{{ post.author.username }}</span>
          </a>
          <span class="date">{{ post.created_at |timesince }} ago</span>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="body">
        <p>
          {% if post.content|length > 149 %}
          {{ post.content|truncatechars:150 }} <span class="see-more" style="color: blue;">see more</span>
          {% else %}
          {{ post.content }}
          {% endif %}
        </p>
      </div>

      {% if post.image %}
      <a href="{% url 'core:post-detail' post.id %}" />
      <img src="{{ post.image.url }}" alt="post image">
      </a>
      {% endif %}
    </div>

    <div class="info">
      <div class="item">
        <form method="POST" action="{% url 'core:likes' post.pk %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}" id="">
          <button type="submit">
            <i class="ri-heart-line"><span>{{ post.likes.all.count }}</span></i>
          </button>
        </form>

        <i class="ri-heart-fill"></i>

        likes
      </div>

      <a href="{% url 'core:post-detail' post.id %}">
        <div class="item toggle-comments">
          <i class="ri-chat-3-line"></i>
          Comments : {{ post.comment_count }}
        </div>
      </a>
      <div class="item">
        <span onclick="shareToggle('{{ post.pk }}')"><i class="ri-share-line share-btn"></i></span>
        12 Share
      </div>
      <div class="item">
        <i class="ri-bookmark-line"></i>
        Bookmarks
      </div>
      <div class="item">
        <a href="#"></a>
        <i class="ri-chat-thread-fill"></i>
        <span>Category: {{ post.category }}</span>
        </a>
      </div>
    </div>
  </div>
  <form action="{% url 'core:share-post' post.pk %}" class="d-none" id="{{ post.pk }}">
    {% csrf_token %}
    {{ shared_form | crispy }}
    <div class="d-grid gap-2">
      <button class="btn btn-primary m-3">Share</button>
    </div>
  </form>
</div>
{% endfor %}