{% extends 'base.html' %}
{% block title %}Post details : {% endblock %}
{% block outlet %}

<div class="home">
  <div class="post">
    <div class="container">
      <div class="user">
        <div class="userInfo">
          <a href="{% url 'users:profile' %}">
            <img src="{{ post.author.profilemodel.profile_image.url }}" alt="user profile avater">
          </a>
          <div class="details">
            <a href="#">
              <span class="name">{{ post.author.username }}</span>
            </a>
            <span class="date">{{ post.created_at }}</span>
          </div>
        </div>
        <div class="more-options" id="more-options">
          <i class="ri-more-2-line"></i>
          <div class="dropdown-menu" id="dropdown-menu">
            {% if post.author == request.user %}
            <a href="{% url 'core:edit-post' post.id %}" class="dropdown-item">Edit Post</a>
            <a href="{% url 'core:delete-post' post.id %}" class="dropdown-item">Delete Post</a>
            {% else %}
            <a href="#" class="dropdown-item">Report Post</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="content">
        {% if post.image %}

        <img src="{{ post.image.url }}" alt="post image">
        {% endif %}
        <p>{{ post.content }}</p>
      </div>
      <div class="info">
        <div class="item">
          {% if request.user in post.likes.all %}
          <a href="{% url 'core:post-detail' post.id %}" class="like-btn" id="lik-btn" data-liked="true">
          <i class="ri-heart-line"></i>
          </a>
          {% else %}
          <a href="{% url 'core:post-detail' post.id %}" class="like-btn" data-liked"false">
          <i class="ri-heart-line"></i>
          </a>
          {% endif %}
          {{ post.total_likes }} likes
        </div>
        <div class="item toggle-comments">
          <i class="ri-chat-3-line"></i>
          Comments : {{ post.comment_count }}
        </div>
        <div class="item">
          <i class="ri-share-line"></i>
          12 Share
        </div>
        <div class="item">
          <i class="ri-bookmark-line"></i>
          Bookmarks
        </div>
        <div class="item">
          <a href="{% url 'core:category' post.slug %}"></a>
          <i class="ri-chat-thread-fill"></i>
          <span>Category: {{ post.category }}</span>
          </a>
        </div>
      </div>
      {% include 'components/comment.html' %}
    </div>
  </div>
</div>
{% endblock %}