{% extends 'landing/landing_base.html' %}
{% block title %}Password Reset Done : {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center pass ">
  <div class="card shadow-sm card-pass">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Password Reset Done</h3>
      <hr>
      <div class="alert alert-info">
        A mail with instructions to reset password has been sent to the email you provided.
      </div>
    </div>
  </div>
</div>
{% endblock %}