{% extends 'landing/landing_base.html' %}
<div class="dropdown">
  <span class="badge bg-primary">{{ notifications.count }}</span>
  <div class="dropdown-content d-none" id="notification-container">
    {% for notification in notifications %}
      {% if notification.post %}
        {% if notification.notification_type == 1 %}
        <div class="dropdown-item-parent">
          <a href="#">@{{ notification.from_user }} liked your post</a>
          <span class="dropdown-item-close"></span>
        </div>
        {% elif notification.notification_type == 2 %}
        <div class="dropdown-item-parent">
          <a href="#">@{{ notification.from_user }} commented on your post</a>
          <span class="dropdown-item-close"></span>
        </div>
        {% endif %}
      {% if notification.comment %}
        {% elif notification.notification_type == 1 %}
        <div class="dropdown-item-parent">
          <a href="#">@{{ notification.from_user }} liked your comment</a>
          <span class="dropdown-item-close"></span>
        </div>
        {% elif notification.notification_type == 2 %}
        <div class="dropdown-item-parent">
          <a href="#">@{{ notification.from_user }} replied to your post</a>
          <span class="dropdown-item-close"></span>
        </div>
        {% endif %}
      {% else %}
      <div class="dropdown-item-parent">
          <a href="#">@{{ notification.from_user }} followed you</a>
          <span class="dropdown-item-close"></span>
        </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}