{% load crispy_forms_tags %}
<div class="post">
  <div class="container">
    <div class="comments">
      <div class="write">
        <!-- Current user image-->
        <img src="{{ user.profile.profile_image.url }}" alt="Profile-image" />

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid gap-2">
            <button class="btn btn-success mt3">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>