{% load crispy_forms_tags %}
<div class="comments">
  <div class="write">
    <!-- Current user image-->
    <img src="{{ request.user.profilemodel.profile_image.url }}" alt="user profile avatar" />
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- <input type="text" placeholder="Creat Post"> -->
      <button>comment</button>
    </form>
  </div>
  <hr>
  {% for comment in post.comments.all %}
  <div class="comment">
    <img src="{{ comment.user.profilemodel.profile_image.url }}" alt="Commentor's profile avatar">

    <div class="info2">
      <span>{{ comment.user.username }}</span>
      <p>
        {{ comment.content }}
      </p>
    </div>
    <span class="date">{{ comment.created_at }}</span>
  </div>
  {% endfor %}
</div>