<div class="comments">
  <div class="write">
    <!-- Current user image-->
    <img src="https://avatars.githubusercontent.com/u/132236591?v=4" alt="Profile-image" />
    <input type="text" placeholder="Add a comment">
    <button>send</button>
  </div>

  <div class="comment">
    <img src="/static/images/games images/ColorWall-5g6lm8.jpg" alt="comment image">

    <div class="info2">
      <span>Profile name </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil molestias expedita voluptate in quae
        architecto
        non asperiores! Voluptatum, inventore et.
      </p>
    </div>
    <span class="date">3 sec ago</span>
  </div>

  <div class="comment">
    <img src="/static/images/games images/ColorWall-5g6lm8.jpg" alt="comment image">

    <div class="info2">
      <span>Profile name </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil molestias expedita voluptate in quae
        architecto
        non asperiores! Voluptatum, inventore et.
      </p>
    </div>
    <span class="date">3 sec ago</span>
  </div>
</div>