{% load crispy_forms_tags %}
<div class="comments">
  <div class="write">
    <!-- Current user image-->
    <img src="{{ request.user.profile.profile_image.url }}" alt="user profile avatar" />
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- <input type="text" placeholder="Creat Post"> -->
      <button style="margin-top: 5px; align-self: center;">comment</button>
    </form>
  </div>
  <hr>
  {% for comment in post.comments.all %}
  <div class="comment">
    <img src="{{ comment.user.profile.profile_image.url }}" alt="Commentor's profile avatar">

    <div class="info2">
      <a href="{% url 'users:profile' post.author.profile.pk %}">
        <span class="name">@{{ comment.user.username }}</span>
      </a>
      <p>
        {{ comment.content }}
      </p>
    </div>
    <span class="date">{{ comment.created_at }}</span>
    {% if request.user == comment.user %}
    <strong>
      <a href="{% url 'core:comment-delete' post.pk comment.pk %}">Delete comment</a>
    </strong>
    {% endif %}
  </div>
  {% endfor %}
</div>