<nav>
  <div class="left">
    <a href="{% url 'core:index-page' %}">
      <span>PlayPal</span>
    </a>
    <a href="{% url 'core:index-page' %}">
      <i class="ri-home-4-line"></i>
    </a>
    <i class="ri-moon-line"></i>
    <div class="search">
      <i class="ri-search-2-line"></i>
      <input type="text" placeholder="Search...">
    </div>
  </div>

  <div class="right">
    <div class="user">
      <img src="https://avatars.githubusercontent.com/u/132236591?v=4" alt="Profile-image" />
      <span>Frankie</span>
    </div>
    <i class="ri-user-line"></i>
    <i class="ri-notification-2-line"></i>
    <i class="ri-mail-line"></i>
  </div>
</nav>