{% load core_tags %}
<nav>
  <div class="left">
    <a href="{% url 'core:index-page' %}">
      <span>PlayPal</span>
    </a>
    <a href="{% url 'core:index-page' %}">
      <i class="ri-home-4-line"></i>
    </a>
    <i class="ri-moon-line"></i>
    <form method="get" action="{% url 'users:profile-search' %}">
      <div class="search">
        <input class="hide-mobile" type="text" name="query" placeholder="@name..." value="{{ request.GET.query }}">
        <button style="border: none; background-color: transparent; box-shadow: none;" type="submit "><i
            class="ri-search-2-line"></i></button>
      </div>
    </form>
  </div>

  <div class="right hide-mobile">
    <a href="{% url 'users:profile' request.user.pk %}">
      <div class="user">
        <img src="{{ request.user.profile.profile_image.url }}" alt="Profile-image" />
        <span>{{ request.user.username }}</span>
      </div>
    </a>
    <a href="{% url 'users:logout' %}">logout</a>
    <i class="ri-user-line"></i>
    <div class="container-notification">
      {% show_notifications %}
    </div>
    <div class="inbox-icon-container">
      <a href="{% url 'core:inbox' %}" class="inbox-icon">
        <i class="far fa-envelope inbox-icon"></i>
      </a>
    </div>
  </div>
</nav>