<nav>
  <div class="left">
    <a href="{% url 'core:index-page' %}">
      <span>PlayPal</span>
    </a>
    <a href="{% url 'core:index-page' %}">
      <i class="ri-home-4-line"></i>
    </a>
    <i class="ri-moon-line"></i>
    <form method="get" action="{% url 'core:search' %}">
      <div class="search">
        <i class="ri-search-2-line"></i>
        <input class="hide-mobile" type="text" name="query" placeholder="Search...">
      </div>
    </form>
  </div>

  <div class="right hide-mobile">
    <a href="{% url 'users:profile' %}">
      <div class="user">
        <img src="{{ user.profilemodel.profile_image.url }}" alt="Profile-image" />
        <span>{{ user.username }}</span>
      </div>
    </a>
    <a href="{% url 'users:logout' %}">logout</a>
    <i class="ri-user-line"></i>
    <i class="ri-notification-2-line"></i>
    <i class="ri-mail-line"></i>
  </div>
</nav>