<!-- Post 1-->
<div class="post">
  <div class="container">
    <div class="user">
      <div class="userInfo">
        <img src="/static/images/games images/ColorWall-4y3ep7.jpg" alt="user avater">
        <div class="details">
          <a href="#">
            <span class="name">First Post</span>
          </a>
          <span class="date">1 min ago</span>
        </div>
      </div>
      <i class="ri-more-2-line"></i>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui omnis, illum aliquam dolorum dolor maiores!</p>
      <a href="{% url 'core:post-detail' %}">
        <img src="/static/images/games images/ColorWall-5g6lm8.jpg" alt="post image">
      </a>
    </div>
    <div class="info">
      <div class="item">
        <i class="ri-heart-line"></i>
        12 likes
      </div>
      <div class="item">
        <i class="ri-chat-3-line"></i>
        12 Comments
      </div>
      <div class="item">
        <i class="ri-share-line"></i>
        12 Share
      </div>
      <div class="item">
        <i class="ri-bookmark-line"></i>
      </div>
    </div>
    <div class="main-comment">
      {% include 'components/comment.html' %}
    </div>
  </div>
</div>

<!-- post2 -->
<div class="post">
  <div class="container">
    <div class="user">
      <div class="userInfo">
        <img src="/static/images/games images/ColorWall-4y3ep7.jpg" alt="user avater">
        <div class="details">
          <a href="#">
            <span class="name">Second Post</span>
          </a>
          <span class="date">1 min ago</span>
        </div>
      </div>
      <i class="ri-more-2-line"></i>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui omnis, illum aliquam dolorum dolor maiores!</p>
      <img src="/static/images/games images/ColorWall-5g6lm8.jpg" alt="post image">
    </div>
    <div class="info">
      <div class="item">
        <i class="ri-heart-line"></i>
        12 likes
      </div>
      <div class="item">
        <i class="ri-chat-3-line"></i>
        12 Comments
      </div>
      <div class="item">
        <i class="ri-share-line"></i>
        12 Share
      </div>
      <div class="item">
        <i class="ri-bookmark-line"></i>
      </div>
    </div>
    <div class="main-comment">
      {% include 'components/comment.html' %}
    </div>
  </div>
</div>

<!-- Post 1-->
<div class="post">
  <div class="container">
    <div class="user">
      <div class="userInfo">
        <img src="/static/images/games images/ColorWall-4y3ep7.jpg" alt="user avater">
        <div class="details">
          <a href="#">
            <span class="name">Third Post</span>
          </a>
          <span class="date">1 min ago</span>
        </div>
      </div>
      <i class="ri-more-2-line"></i>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui omnis, illum aliquam dolorum dolor maiores!</p>
      <!-- <img src="/static/images/games images/ColorWall-5g6lm8.jpg" alt="post image"> -->
    </div>
    <div class="info">
      <div class="item">
        <i class="ri-heart-line"></i>
        12 likes
      </div>
      <div class="item">
        <i class="ri-chat-3-line"></i>
        12 Comments
      </div>
      <div class="item">
        <i class="ri-share-line"></i>
        12 Share
      </div>
      <div class="item">
        <i class="ri-bookmark-line"></i>
      </div>
    </div>
    <div class="main-comment">
      {% include 'components/comment.html' %}
    </div>
  </div>
</div>

<!-- Post 1-->
<div class="post">
  <div class="container">
    <div class="user">
      <div class="userInfo">
        <img src="/static/images/games images/ColorWall-4y3ep7.jpg" alt="user avater">
        <div class="details">
          <a href="#">
            <span class="name">Fourth POST</span>
          </a>
          <span class="date">1 min ago</span>
        </div>
      </div>
      <i class="ri-more-2-line"></i>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui omnis, illum aliquam dolorum dolor maiores!</p>
      <img src="/static/images/games images/ColorWall-5g6lm8.jpg" alt="post image">
    </div>
    <div class="info">
      <div class="item">
        <i class="ri-heart-line"></i>
        12 likes
      </div>
      <div class="item">
        <i class="ri-chat-3-line"></i>
        12 Comments
      </div>
      <div class="item">
        <i class="ri-share-line"></i>
        12 Share
      </div>
      <div class="item">
        <i class="ri-bookmark-line"></i>
      </div>
    </div>
  </div>
</div>