<!--RIGHT BAR-->
<div class="rightBar hide-mobile hide-tab">
  <div class="container">
    <div class="item">
      <span>Friends with similar interests</span>
      <div class="user">
        <div class="userInfo">
          <img src="https://avatars.githubusercontent.com/u/132236591?v=4" alt="Profile-image" />
          <span>Frankie Wilson</span>
        </div>
        <div class="buttons">
          <button>follow</button>
          <button>dismiss</button>
        </div>
      </div>
    </div>
    <div class="item">
      <span>Friends with similar interests</span>
      <div class="user">
        <div class="userInfo">
          <img src="https://avatars.githubusercontent.com/u/132236591?v=4" alt="Profile-image" />
          <span>Frankie Wilson</span>
        </div>
        <div class="buttons">
          <button>follow</button>
          <button>dismiss</button>
        </div>
      </div>
    </div>
    <div class="item">
      <span>Trending Games</span>

      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/gb5nxlbw5pwc1.jpeg" alt="Game avatar" />
          <p>
            <span>COD</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/vw75dxnja7tb1.jpg" alt="Game avatar" />
          <p>
            <span>Hallo Infinity</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/gb5nxlbw5pwc1.jpeg" alt="Game avatar" />
          <p>
            <span>COD</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/vw75dxnja7tb1.jpg" alt="Game avatar" />
          <p>
            <span>Hallo Infinity</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <span>Recommended For You</span>
      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/gb5nxlbw5pwc1.jpeg" alt="Game avatar" />
          <p>
            <span>COD</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/gb5nxlbw5pwc1.jpeg" alt="Game avatar" />
          <p>
            <span>COD</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
      <div class="user">
        <div class="trending">
          <img src="https://i.redd.it/gb5nxlbw5pwc1.jpeg" alt="Game avatar" />
          <p>
            <span>COD</span>
            <br>
            <span class="category">Category: Action</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>