<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>{% block title %}PlayPal{% endblock %}PlayPal</title>

  <link rel="stylesheet" href="{% static 'css/user/base_user.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/sign_up.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/login.css' %}">
  <!-- Remix icon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
  <script src="https://kit.fontawesome.com/51116c1a73.js" crossorigin="anonymous"></script>
</head>

<body>
  {% block content %}
  {% endblock %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>