<!-- Login Page html -->
{% extends 'users/base_user.html' %}
{% block title %}Login : {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login">
  <div class="card">
    <div class="left">
      <!-- 
      <h1>Gear up, your next quest awaits! let's game on!</h1>
      <span>Hit the button, squad up, and let's conquer the leaderboard together. Your epic journey starts now—noobs and pros alike, Sign in to join the ultimate gaming alliance."</span>
      <a href="{% url 'sign-up' %}">-->
      <h1>Welcome Pall!</h1>
      <p>Welcome back

        forgotten password? <br>
        click <a href="{% url 'reset_password' %}">here</a> to reset password
      </p>
      <span>Not a registered member?</span>
      <a href="{% url 'sign-up' %}">
        <button>Sign Up</button>
      </a>
    </div>
    <div class="right">
      <h1>Login Page</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Fogotten password? Don't worry We got you covered. Reset your password <a href="{% url 'reset_password' %}">here</a>.
        </p>
        <button type="submit" class="login-button">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}