<!-- Logout Page html -->
<!-- {% extends 'users/base_user.html' %}
{% block title %}Logout : {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="sign_up">
  <div class="card">
    <div class="left">
      <h1>Logged out...</h1>
      <p>You have been logged out successfully
      </p>
      <span>Want to login back?</span>
      <a href="{% url 'login' %}">
        <button>Log me back in</button>
      </a>
    </div>
    <div class="right">
      <h1>Logout Page</h1>
        <button>Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %} -->