{% extends 'base.html' %}


{% block title %}Profile : {% endblock %}


{% block outlet %}
<div class="profile">
  <div class="images">
    <img src="{{ profile.cover_image.url }}" alt="cover image" class="cover">
    <img src="{{ profile.profile_image.url }}" alt="profile image" class="profilePic">
  </div>

  <div class="profileContainer">
    <div class="uInfo">
      <div class="left">
        <a href="#">
          <i class="ri-facebook-circle-fill"></i>
        </a>
        <a href="#">
          <i class="ri-twitch-line"></i>
        </a>
        <a href="#">
          <i class="ri-discord-line"></i>
        </a>
        <a href="#">
          <i class="ri-twitter-fill"></i>
        </a>
      </div>

      <div class="center">
        {% if profile.name %}
        <span>{{ profile.name }}</span>
        {% else %}
        <span>{{ user.username }}</span>
        {% endif %}
        <div class="info">
          <div class="item">
            <i class="ri-map-pin-line"></i>
            {% if profile.location %}
            <span>{{ profile.location }}</span>
            {% endif %}
          </div>
          <div class="item">
            <i class="ri-map-pin-line"></i>
            {% if profile.dob %}
            <span>{{ profile.dob }}</span>
            {% endif %}
          </div>
          <div class="item">
            <i class="ri-global-line"></i>
            {% if profile.language %}
            <span>{{ profile.language }}</span>
            {% endif %}
          </div>
        </div>
        {% if request.user == user %}
        <a href="{% url 'users:profile-edit' profile.pk %}">Edit Profile</a>
        {% else %}
        {% if is_following %}
        <form method="POST" action="{% url 'users:remove-follower' profile.pk %}">
          {% csrf_token %}
          <button type="submit">Unfollow</button>
        </form>
        {% else %}
        <form method="POST" action="{% url 'users:add-follower' profile.pk %}">
          {% csrf_token %}
          <button type="submit">Follow</button>
        </form>
        {% endif %}
        {% endif %}
      </div>

      <div class="right">
        <p>{{ number_of_followers}} followers</p>
        <i class="ri-mail-line"></i>
        <i class="ri-more-2-line"></i>
      </div>
    </div>
    <ul>
      <li>
        <h3>bio</h3>
        {% if profile.bio %}
        {{ profile.bio }}
        {% endif %}
      </li>
      <li>
        <h1>Posts</h1>
      </li>
      <li>
        {% for post in posts %}
      <li>
        <p><a href="{% url 'users:profile' post.author.profile.pk %}">@{{ post.author }}</a></p>
        <a href="{% url 'core:post-detail' post.id %}"></a>
        {{ post.content }}
      </li>
      {% endfor %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}